# App
NODE_ENV=
NEXT_PUBLIC_SITE_URL=

# Database
DATABASE_URL=

# OpenAI
OPENAI_API_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_REPLY_TO=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
